<app-navbar></app-navbar> <!-- Add NavbarComponent here -->

<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">👋 Welcome back {{ user.username }}</h5>
        <p class="card-text mb-0">This is your dashboard to manage your activites, planes that you are making or your future goals to achieve them faster</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">🤸 Recent activites</h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let activity of recentActivities" class="list-group-item">
            <div class="d-flex justify-content-between">
              <span>
                {{ activity.activityType }}
                <small class="text-muted"> ({{ activity.duration }} minutes)</small>
              </span>
              <span>
                {{ activity.date | date: 'MMM d, y, h:mm a' }} <!-- Use Angular's date pipe -->
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">
          ⭐ Future goals <span class="badge bg-dark text-light ml-2">Imprtant</span>
        </h5>
        <ul class="list-group list-group-flush">
          <li *ngFor="let goal of recentFutureGoals" class="list-group-item">
            <div class="d-flex justify-content-between">
              <span>
                {{ goal.goalName }}
              </span>
              <span>
                {{ goal.targetDate | date: 'MMM d, y, h:mm a' }} <!-- Use Angular's date pipe -->
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-activities></app-activities>

<app-future-goals></app-future-goals>
